@model OdeToFood.Models.SampleModel
@{
    ViewBag.Title = "About Action Method";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <ul>
        <li>@Model.Name</li>
        <li>@Model.Location</li>
        
    </ul>
</div>

<p>Use this area to provide additional information.</p>
